<section id="contacto"data-type="parallax_section"data-speed"10"><article>
	<div class="contacto">
		<p>Contatanos para lo que necesites :D</p>
	</div>
	<div id="redes-sociales">
		<a href="#"><img src="<%= get_img_path() %>/social/facebook.png " alt="" width="60"></a>
		<a href="#"><img src="<%= get_img_path() %>/social/twitter.png " alt="" width="60"></a>
	</div>
	<div id="container">
		<form id="MiFormulario">

			<label>Nombre:</label><br/>
			<input type="text" id="itNombre" class="campo"/><br/>
			<div id="mensaje1" class="errores">Dame tu nombre</div>

			<label>Correo electrónico:</label><br/>
			<input type="text" id="itMail" class="campo"/><br/>
			<div id="mensaje2" class="errores">Tu correo porfavor</div>

			<label>Cuentanos:</label><br/>
			<input type="text" id="itAsunto" class="campo"/><br/>
			<div id="mensaje3" class="errores">¿En que te podemos ayudar?</div>

			<input type="submit" id="bEnviar" value="Enviar datos"class="boton"/>
		</form>
	</div>
	<h2></h2>
</article>
</section>