<section id="organizes">
	<article>
		<div class="organizes">
			<p>
				Fomentamos el arte como herramienta educativa para la reconstrucción del tejido social a través de un festival en el que se promueven espacios gratui- tos de aprendizaje, intercambio cultural y esparcimiento en diferentes discipli- nas artísticas, mientras se aporta a la consolidación de una identidad cultural propia del municipio de Tuluá y al fortalecimiento de su proyección como foco turístico regional.
			</p>
			<p>
				Especial agradeimiento a : Jaime Andres Lozano Trejos, Yeison Valencia, Santiago Betancourt, Daiana Aizenberg, Paul Petter, Luisa Porras, Orlando Cardona, Diana Pérez, Diego Guevara, Frederick Bejarano, Alvaro Pérez, Laura Vélez Castrillón, Mauricio Romero. 
			</p>
		</div>
		<h2></h2>
	</article>
</section>