<section id="organiza"data-type="parallax_section"data-speed"10"><article>
	<div class="organiza">
		<p>
			Organiza: 
			Andrés Vélez, Junior Valencia, Julián Espinal, Isabel López, Viviana Buitrago, Sebastian Garzón Are, Jaime Lozano, Mauricio Romero.  

			Especial agradeimiento a :
			Yeison Valencia, Santiago Betancourt, Daiana Aizenberg, Paul Petter, Luisa Porras, Orlando Cardona, Diana Pérez, Diego Guevara, Frederick Bejarano, Alvaro Pérez, Laura Vélez.
			<img src="img/familia-familia.png" /></a>
		</p>
	</div>
	<h2></h2>
</article>
</section>