<section id="pasado">
	<article>
		<div class="pasado">
			<p>
				2013
				En su primera versión el Montando La Podrida Fest se caracterizó por fomentar el arte como herramienta educativa para la reconstrucción del tejido social a través de un festival en el que se promueven espacios gratuitos de aprendizaje, intercambio cultural y esparcimiento en diferentes disciplinas artísticas, mientras se aporta a la consolidación de una identidad cultural propia del municipio de Tuluá y al fortalecimiento de su proyección como foco turístico regional. De manera gratuita se mostraron propuestas musicales con alto contenido de innovación y fusión de ritmos tradicionales con sonidos contemporáneos propios y extranjeros; debido a esto, el festival captó la atención de un gran público del municipio y su área de influencia.
				2014
				En el 2014 el festival amplió su visión para dar participación a diferentes disciplinas artísticas con exposiciones, presentaciones y talleres gratuitos para toda la comunidad; es así como se abrieron espacios para 5 performances, 2 obras de teatro, 5 talleres artísticos, 1 grupo de danza, 2 conversatorios, 2 clínicas, 2 proyecciones de cine, 1 exposición fotográfica, 8 stands artesanales y 1 muestra gastronómica por parte del mercado campesino; para tal fin hemos gestionado el uso de lugares convencionales como el parque lineal y la biblioteca pública municipal, así como espacios no convencionales como el caso de la Escuela de artes integradas “Talento Humano” y el auditorio de la I.E. de Occidente.
			</p>
			</div>
			<h2></h2>
		</article>
	</section>