<section id="programa"data-type="parallax_section"data-speed"10"><article>
	<div class="programa">
		<p>
			VIERNES
			Ciclo Paseo -  Ciclo Clawn
			Inicio Biblioteca Municipal 
			FInaliza en el Lago Chilicote
			Tarima el Lago
			Obra de teatro " A confirmar"
			Tarima " La monareta Latin"
			SABADO                                                    Talleres
			9- Conversatorio: Como sobrevivir a la música independiente en Colombia.                          
			10-Conversatorio: Identidad campesina                         
			11-Conversatorio: Ecología y ambiente                           
			12-Conversatorio: Marketing musical                      
			13-Conversatorio: El arte que humaniza                              
			14- Conferencia: Marketing digital para la música
			15-Intervenciones teatrales
			16-Exposiciones de caricatura y fotografía
			17-Cine-foro
			TARIMA
			14-Maleja. Tuluá (Valle)	
			15-Gustavo López. Tuluá (Valle)
			16-Don Champignon. Tuluá (Valle)
			17-Estudiantina Manuel Salazar. Bugalagrande (Valle)
			18-Zatelite afrobeat. Medellin
			19-Colectro. Bogota
			20-La Mambanegra. Cali
			21-Sr. Toustado. Cartagena
			22-Circus funk. Cali
			23-Sango Groove. Cali
			DOMINGO
			Hora                                                      Talleres
			9-Conferencia: Gestión de proyectos musicales independientes                            
			10-Conferencia: Conciencia alimentaria                         
			11-Conferencia: Derechos Humanos                           
			12-Taller de Luthería                      
			13- Taller de percusión argentina                             
			14-Taller de ilustración
			15-Taller literario: Bases narrativas
			16-Taller teatral: La ciudad como escena para el cuerpo
			17-Clínica musical a cargo de la agrupación Caribefunk
			TARIMA
			15-Caribefunk Cartagena
			16-Petit Fellas. Bogota
			17-Disparen al mutante. Medellin
			18-Bronson Tennis EEUU
			19-Incienso do fulo Brasil
			20-House Band EEUU
			21-Ryan Tennis and The Club
			22-Gato Azul
			23-El dinosaurio Anacleto	
		</p>
	</div>
	<h2></h2>
</article>
</section>