<section id="patrocinio"data-type="parallax_section"data-speed"10" re>
	<article>
		<div class="patrocinio">
			<a href="img/logo1.png" data-lighter>
				<img src="img/logo1.png" />
			</a>
			<a href="img/logo2.png" data-lighter>
				<img src="img/logo2.png" />
			</a>
			<a href="img/logo3.png" data-lighter>
				<img src="img/logo3.png" />
			</a>
			<a href="img/logo4.png" data-lighter>
				<img src="img/logo4.png" />
			</a>
			<a href="img/logo5.png" data-lighter>
				<img src="img/logo5.png" />
			</a>
			<a href="img/logo6.png" data-lighter>
				<img src="img/logo6.png" />
			</a>
			<a href="img/logo7.png" data-lighter>
				<img src="img/logo7.png" />
			</a>
			<a href="img/logo8.png" data-lighter>
				<img src="img/logo8.png" />
			</a>
			<a href="img/logo9.png" data-lighter>
				<img src="img/logo9.png" />
			</a>
			<a href="img/logo10.png" data-lighter>
				<img src="img/logo10.png" />
			</a>
			<a href="img/logo11.png" data-lighter>
				<img src="img/logo11.png" />
			</a>
			<a href="img/logo12.png" data-lighter>
				<img src="img/logo12.png" />
			</a>
			<p>Si quieres hacer parte de este festial comuinicate con nosotros a : aliados@sancochofest.com</p>
		</div>
		<h2></h2>
	</article>
</section>
