<section id="welcome">
	<article>
	<div class=".welcomet">
		<p>
			SANCOCHO FEST

			Primer Festival Multi Artistico gratuito del municipio de Tuluá (valle del cauca -Colombia), donde convergen diferentes atividades educativas y artisticas para todo el publico en general.
		</p>
	</div>
	<h2></h2>
</article>
</section>