<section id="bienvenidos"data-type="parallax_section"data-speed"10"><article>
	<div class=".bienvenidos">
		<p>
			El Sancocho Fest es un espacio multicultural y pluriétnico en el que convergen
			diversas dinámicas artísticas que pueden ser apreciadas por el público
			de manera gratuita; Un evento con estas características no tiene precedentes
			en la ciudad de Tuluá. En las versiones anteriores el festival se ha podido
			realizar debido a la excelente gestión de un equipo de trabajo que reúne
			profesionales, estudiantes, artistas y gestores culturales; con el apoyo de
			recursos financieros y en especie por parte de instituciones como la casa
			de la cultura, y diferentes empresas municipales
		</p>
	</div>
	<h2></h2>
</article>
</section>