<!DOCTYPE HTML>
	<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">

			<link rel="stylesheet" href="<%= get_css_path() %>/am-common.css">

			<%= yield_content :head %>

	</head>
	<body>

	   <%= yield %>

	   <%= yield_content :footer %>

	</body>
</html>
